**/*.class
**/*.jar
**/bin/
**/target/
**/.project
**/.classpath
**/workspace
**/.metadata
**/.settings
**/doc
**/.checkstyle
**/*~
**/#*#
**/*.aux
**/*.log
**/*.toc
**/*.iml
**/.idea
**/.Rhistory
**/.~lock.*#
**/.nsf*
**/.DS_Store
**/*.backup
**/*synctex.gz
**/*.fdb_latexmk
**/.vscode
**/*.adoc
__pycache__/
*.py[cod]
*$py.class
venv/
.env/
.venv/
*.egg-info/
dist/
build/
*.egg

